@import '../utils/theme.scss';

.create-plan {

    // overall position & dimensions
    display: flex;
    //   flex-direction: column;
    height: 100vh;
    width: 1400px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;

    // test
    // background: rgba(77, 209, 209, 0.5);

    &__outer {

        // position
        display: flex;
        height: 700px;
        width: 1400px;
        margin: 0 auto;
        align-items: center;
        justify-content: center;

        // test
        // background: rgba(133, 58, 150, 0.5);

        &__left {

            // attributes
            user-select: none;

            //position
            position: relative;
            top: 30px;
            left: 110px;

            // dimensions
            height: 300px;
            width: 2%;

            // structure
            border: none;
            border-radius: 20px;

            // visuals
            background-color: $secondary-color;

            // animation
            &:hover {background: rgba(233, 159, 159, 0.5);}
        
            &:active {
        
                background-color: rgba(233, 159, 159, 0.9);
                box-shadow: 1px 0px rgb(113, 113, 113);
                transform: translateY(4px);
        
            }

        }

        &__inner {

            // position
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 1200px;
            margin: 0 auto;
            align-items: center;
            justify-content: center;
    
            // test
            // background: rgba(128, 216, 56, 0.5);

            &__header {

                // position
                display: flex;
                margin-top: -2%;
                margin-bottom: 0%;

                // dimensions
                width: 100%;

                align-items: center;
                justify-content: center;

                // test
                // background: rgba(189, 49, 49, 0.5);

                &__title {

                    // position
                    display: flex;
                    // margin-left: 70px;
                    position: relative;
                    left: 40px;

                    // dimensions
                    height: 60%;
                    width: 800px;

                    // structure
                    border-radius: 20px;

                    // contents positioning
                    align-items: center;
                    justify-content: center;

                    // visuals
                    background: $tertiary-color;

                    &__text {

                        // position
                        margin-top: 5px;
                        margin-left: 30px;
        
                        // visuals (text)
                        font-weight: 550;
                        font-size: 30px;
                        color: rgba(255, 255, 255, 1);
                        text-shadow: 0 5px 0.15em rgba(0, 0, 0, 0.5), 0 0.05em 0.1em rgba(0, 0, 0, 0.5);
        
                        // test
                        // background: rgba(199, 185, 29, 0.5);

                    }

                }

                &__user {

                    // position
                    // display: flex;
                    // margin-right: -15%;
                    position: relative;
                    left: 50px;

                    // dimensions
                    width: 360px;

                    // test
                    // background: rgba(199, 185, 29, 0.5);

                }

            }

            &__body {

                // position
                // margin-bottom: 10%;
                display: flex;
                flex-direction: column;
                width: 1100px;
                height: 650px;

                // structure
                border-radius: 10px;

                // visuals
                background-color: $primary-color;
                box-shadow: 5px 5px 10px 2px rgba(124, 124, 124, 0.8);

                &__header {

                    // position
                    display: flex;
                    flex-direction: column;
                    width: 1100px;
                    height: 40px;

                    // structure
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;

                    // visuals
                    background-color: rgba(233, 159, 159, 0.8);
                    // box-shadow: 5px 5px 10px 2px rgba(124, 124, 124, 0.8);

                    &__title {

                        // position
                        margin-top: 2px;
                        margin-left: 20px;

                        // text
                        color:rgba(255, 255, 255, 1);
                        font-size: 28px;
                        font-weight: bold;
                        text-shadow: 0 5px 0.15em rgba(0, 0, 0, 0.1), 0 0.05em 0.1em rgba(0, 0, 0, 0.5);

                    }

                }

                &__form {

                    // attributes
                    display: flex;
                    flex-direction: column;
                    overflow-y: auto;
                    user-select: none;

                    // position
                    margin-top: 15px;
                    margin-left: 15%;

                    // dimensions
                    height: 90%;
                    width: 70%;

                    // structure
                    border-radius: 10px;

                    // poisiton contents
                    align-items: center;
                    // justify-content: center;

                    // visuals
                    background: rgba(255, 255, 255, 0.7);

                    // &__button {

                    //     // attributes

                    //     // position
                    //     position: relative;
                    //     top: 450px;

                    //     // dimensions
                    //     width: 30%;

                    //     // structure
                    // }

                }

            }
        }

        &__right {

            // attributes
            user-select: none;

            //position
            position: relative;
            top: 30px;
            right: 110px;

            // dimensions
            height: 300px;
            width: 2%;

            // structure
            border: none;
            border-radius: 20px;

            // visuals
            background-color: $secondary-color;

            // animation
            &:hover {background: rgba(233, 159, 159, 0.5);}
        
            &:active {
        
                background-color: rgba(233, 159, 159, 0.9);
                box-shadow: 1px 0px rgb(113, 113, 113);
                transform: translateY(4px);
        
            }

        }
    }

    &__modal {

        // attributes
        display: flex;
        flex-direction: column;

        // position
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        // dimensions
        height: 50vh;
        width: 80vh;

        // structure
        border-radius: 5vh;
        border: 0.7vh solid rgb(154, 144, 193);

        // position contents
        align-items: center;
        justify-content: center;

        // visuals
        background-color: rgba(233, 159, 159, 0.8); //rgb(255, 255, 255)
        // background: linear-gradient(
        //     to bottom, 
        //     rgba(179, 227, 226, 0.8),
        //     rgba(240, 163, 188, 1),
        // );

        &__title {

            // position
            position: absolute;
            top: 8vh;
            left: 9.5vh;

            // dimensions
            width: 60vh;

            // text
            font-size: 6vh;

            // visuals
            // color: rgb(255, 255, 255);
            color:rgba(0, 0, 0, 1);

            // test
            // background: rgba(178, 33, 14, 1);

        }

        &__buttons {

            // attributes
            display: flex;

            // position
            position: fixed;
            top: 30vh;

            // dimensions
            height: 15vh;
            width: 60vh;

            // position contents
            align-items: center;
            justify-content: center;

            // test
            // background: rgb(208, 17, 185);

            &__close {

                // position
                position: relative;
                left: -2vh;

                // dimensions
                height: 10vh;
                width: 25vh;

                //structure
                border-radius: 4vh;
                border: 0.7vh solid rgb(154, 144, 193);

                // text
                font-size: 6vh;
                font-weight: 500;

                // visuals
                background-color: rgba(255, 255, 255, 0.5);
                color: rgba(67, 67, 67, 1); // rgba(67, 67, 67, 0.6)

                &:hover {
                    // background: rgba(255, 255, 255, 1);
                    font-size: 5.5vh;
                    color: rgba(178, 33, 14, 1);
                    border: 0.7vh solid rgba(178, 33, 14, 0.3);
                }

            }

            &__proceed {

                // position
                position: relative;
                left: 2vh;

                // dimensions
                height: 10vh;
                width: 25vh;

                //structure
                border-radius: 4vh;
                border: 0.7vh solid rgb(154, 144, 193);

                // text
                font-size: 6vh;
                font-weight: 500;

                // visuals
                background-color: rgba(255, 255, 255, 0.5);
                color: rgba(67, 67, 67, 1); // rgba(67, 67, 67, 0.6)

                &:hover {
                    // background: rgba(159, 245, 106, 0.1);
                    font-size: 5.5vh;
                    color: rgba(77, 161, 26, 1);
                    border: 0.7vh solid rgba(77, 161, 26, 0.3);
                }

            }

        }
    }
}