// main colors
$primary-color: rgba(210, 221, 251, 0.8);
$secondary-color: rgba(233, 159, 159, 0.8);
$tertiary-color: rgba(124, 101, 217, 0.5);
$quaternary: rgba(67, 67, 67, 1);

// senary
// septenary
// octonary
// nonary
// denary

// navbars
$sidebar-primary: rgba(210, 221, 251, 0.6);
$nav-active: rgb(255, 255, 255);
$highlight: rgb(255, 255, 255);

// forms
$forms-primary: rgba(255, 255, 255, 0.7);

// lesser details
$user: rgba(77, 161, 26, 1);
$continue: rgba(126, 149, 212, 1);
$complete: rgba(77, 161, 26, 1);
$logininputs: rgba(210, 221, 251, 0.3)
