@import '../../utils/theme.scss';

.formInput{
    display: flex;
    flex-direction: column;
    width: 400px;

    &__label {
        font-size: 24px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.7);
    }

    &__input {
        background: rgba(255, 255, 255, 0.7);
        font-size: 24px;
        padding: 10px;
        margin: 2px 0px;
        border-radius: 10px;
        border: none;
    }
}